<% layout("../layouts/profileboilerPlate") %>


<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6"> 
      <h3 class="text-center mb-4">Change Password</h3>
      <form id="changePassword" class="validated-form" method="post" action="/profile/changePassword" novalidate>
        <!-- Password -->
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&#])[A-Za-z\d@$!%*?&#]{8,}$">
          <div class="invalid-feedback">
            
          </div>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <!-- Confirm Password -->
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
          <div class="invalid-feedback">
            
          </div>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        
        <!-- Submit Button -->
        <div class="d-grid">
          <button type="submit" class="btn btn-dark">Change Password</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script src="/js/changePassword.js"></script>
